@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-menu: #A9D6E5;
    --cor-box-shadow: #464646;
    --cor-texto-menu: #000;
    --cor-botao-entrar: #fff;
    --cor-fundo: #fff;
    --cor-card: #fff;
    --cor-texto: #000;
    --cor-botao: #000;
    --cor-botao-hover: #A9D6E5;
    --cor-cinza: #C1BDB8;
    --cor-cinza2: #d1cfcd;
    --cor-verde: #90BE6D;
}

/* o Aplique uma paleta de cores suave e clean, ideal para consultórios:
 Azul claro (#A9D6E5), branco (#FFFFFF), cinza claro
(#F3F4F6), e verde suave (#90BE6D).

o O estilo deve transmitir limpeza, cuidado e modernidade. */
/* 
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box; 
}

/* Estilo menu  */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--cor-menu);
    box-shadow: 0px 3px 10px var(--cor-box-shadow);
}

.nav-bar {
    background-color: var(--cor-menu);
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 6rem;
}

.nav-bar, .mobile-menu {
    width: 100%; /
}

.logo {
    display: flex;
    text-align: center;
}

.logo img {
    width: 64px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-texto-menu);
    font-weight: 500;
}

.login-button {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    margin-top: 10px;
}

.login-button button {
    border: none;
    background-color: var(--cor-botao-entrar);
    padding: 8px 20px;
    border-radius: 5px;
    align-items: center;
}

.login-button button a {
    text-decoration: none;
    color: var(--cor-texto-menu);
    font-weight: 600;
    padding: 8px 20px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        align-self: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

/* Estilo slide */

section.slider {
    background-color: var(--cor-menu);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
    padding-top: 95px;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 34.5%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid var(--cor-botao);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--cor-botao);
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: var(--cor-botao);
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 600px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 117%;
    }
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--cor-menu);
    height: 900hv;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo do header */

header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem {
    background-color: var(--cor-menu);
    padding: 20px 4%;
    z-index: 3;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 35px;
}

header .menu-desktop nav ul {
    list-style: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.menu-desktop nav a:hover {
    transform: scale(1.10);
    transform: 0.5s;
}

header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

header .btn-contato button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo do hero */

section.hero-site {
    height: 100vh;
    background-image: url(../images/copos-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    color: #fff;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    color: #fff;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.hero-site button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo sobre */
.sobre {
    padding: 2rem;
    background-color: var(--cor-menu);
    color: #333;
}

.sobre h1 {
    margin-top: 45px; 
    font-size: 2rem;
    margin-bottom: 45px;
    text-align: center;
}

.sobre p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    text-align: justify; 
}

.conteinerSobre{
    margin-top: 20px;
    border-radius: 2.5%;
    padding: 1rem 2rem;
    background-color: #fff;
}

@media (max-width: 600px) {
    .sobre {
        padding: 1rem; 
    }

    .sobre h1 {
        font-size: 1.5rem; 
    }

    .sobre p {
        font-size: 1rem; 
    }
}

@media (max-width: 600px) {
    .sobre h1 {
        font-size: 1.3rem; 
    }

    .sobre p {
        font-size: 0.9rem;
    }
}


/* Estilo das vantagens */

section.vantagens {
    padding: 80px 0;
    background-color: var(--cor-cinza);
}

.vantagens .itens-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-conteiner .img-itens img {
    max-width: 420px;
    border-radius: 30px;
}

.vantagens .itens-conteiner .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.vantagens .itens-conteiner .txt-itens p {
    color: #fff;
}

.itens-conteiner .txt-itens h3 span {
    font-weight: 300;
}

/* Estilo da sessão mais */

section.mais {
    padding: 80px 0;
}

.txt-mais,
.instru-mais {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.mais .txt-mais{
    position: sticky;
    top: 50%
}

.mais .txt-mais h3 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
    color: #fff;
}

.mais .txt-mais h3 span {
    display: block;
    font-weight: 700;
}

.instru-mais .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #fff;
    padding: 20px;
}

.instru-mais .instru-box img{
    max-width: 50px;
}

.instru-mais .instru-box h4{
    font-size: 1.5em;
    font-size: 800;
    margin-bottom: 10px;
    color: #fff;

}

.instru-mais .instru-box h4 span{
    font-weight: 300;
    
}

.instru-mais .instru-box p{
    line-height: 20px;
    color: #fff;
}

/* Estilo contato */

.contato {
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato,
.icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 80px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    background-color: var(--cor-card);
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i {
    font-size: 20px;
}

.contato .icons-contato button:hover {
    background-color: var(--cor-menu);
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
    color: var(--cor-botao);
}

.txtContato{
font-size: 12px;
color: var(--cor-box-shadow);
margin-top: 50px;
text-align: center;
}

@media (max-width: 600px) {
    .txt-contato,
    .icons-contato {
        width: 100%;
        margin-right: 0;
        display: block;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
    }

    .contato .icons-contato button {
        padding: 0 30px;
        width: 80%;
        height: 50px;
        margin: 0 auto 20px auto;
    }

    .contato .icons-contato button:hover {
        background-color: #A9D6E5; /* Cor de hover fixa para teste */
    }
    
    .contato .icons-contato button:hover i,
    .contato .icons-contato button:hover p {
        color: var(--cor-botao);
    }
}
